<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang CV</title>
    <link rel="shortcut icon" href="view/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="css/N-Bk-test.css">
</head>

<body class="bg-dark">
    <div id="overlay-nav"></div>
    <!-- NỘI DUNG CHÍNH -->
    <main id="main">
        <div class="container">
            <div class="resume">
                <button class="btn-danger11">Đóng</button>
                <button class="btn-danger2">Đóng</button>
                <button class="btn-sucsess11">Phê Duyệt</button>
                <div class="resume_left">
                    <div class="resume_profile">
                        <img src="https://th.bing.com/th/id/OIP.VOE2H2F5pU4nAHDX-l3tyQHaI4?pid=Api&rs=1" alt="profile_pic">
                    </div>
                    <div class="resume_content">
                        <div class="resume_item resume_info">
                            <div class="title">
                                <p class="bold">Trần Trọng Nghĩa</p>
                                <p class="regular">Web Designer</p>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div class="data">
                                        Quận Thủ Đức <br /> Hồ Chí Minh city
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                    <div class="data">
                                        +84 944810751
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="data">
                                        Nghiadepzai@gmail.com
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fab fa-weebly"></i>
                                    </div>
                                    <div class="data">
                                        www.Nghiadepzai.com
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="resume_item resume_skills">
                            <div class="title">
                                <p class="bold">Kỹ năng</p>
                            </div>
                            <ul>
                                <li>
                                    <div class="skill_name semi-bold">
                                        Tin học
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 80%;"></span>
                                    </div>
                                    <div class="skill_per">80%</div>
                                </li>
                                <li>
                                    <div class="skill_name semi-bold">
                                        Tiếng Anh
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 70%;"></span>
                                    </div>
                                    <div class="skill_per">70%</div>
                                </li>
                                <li>
                                    <div class="skill_name semi-bold">
                                        Sáng tạo
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 90%;"></span>
                                    </div>
                                    <div class="skill_per">90%</div>
                                </li>

                            </ul>
                        </div>
                        <div class="resume_item resume_social">
                            <div class="title">
                                <p class="bold">Giải thưởng</p>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-code"></i>
                                    </div>
                                    <div class="data">
                                        <p class="semi-bold">Vô địch Code War(Fpt)</p>

                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-basketball-ball"></i>
                                    </div>
                                    <div class="data">
                                        <p class="semi-bold">Giải ba Cầu lông</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="resume_item resume_social">
                            <div class="title">
                                <p class="bold">Hoạt động</p>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-user-shield"></i>
                                    </div>
                                    <div class="data">
                                        <p class="semi-bold">Tình nguyện viên Bụi</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-award"></i>
                                    </div>
                                    <div class="data">
                                        <p class="semi-bold">Môi Trường Xanh</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="resume_right">
                    <div class="resume_item resume_about">
                        <div class="title">
                            <p class="bold">Mục tiêu nghề nghiệp</p>
                        </div>
                        <p>Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở rộng tập khách
                            hàng.
                        </p>
                    </div>
                    <div class="resume_item resume_work">
                        <div class="title">
                            <p class="bold">Kinh nghiệm làm việc</p>
                        </div>
                        <ul>
                            <li>
                                <div class="date">2018 - 2019</div>
                                <div class="info">
                                    <p class="semi-bold">DỰ án bán hàng The corner</p>
                                    <p>Đảm nhận vị trí Front-en</p>
                                    <p>Đảm nhận vị trí back-end</p>

                                </div>
                            </li>
                            <li>
                                <div class="date">2019 - 2020</div>
                                <div class="info">
                                    <p class="semi-bold">Dự án Leading Meida</p>
                                    <p> viết quảng cáo qua các trang mạng xã hội Facebook</p>
                                    <p> viết quảng cáo qua các trang mạng xã hội Facebook</p>
                                </div>
                            </li>
                            <li>
                                <div class="date">2020 - Present</div>
                                <div class="info">
                                    <p class="semi-bold"> Web Freelancer</p>
                                    <p>Nhận các dự án đầu tiên Front-end,Back-end,...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="resume_item resume_education">
                        <div class="title">
                            <p class="bold">Trình độ học vấn</p>
                        </div>
                        <ul>
                            <li>
                                <div class="date">2018 - 2020</div>
                                <div class="info">
                                    <p class="semi-bold">Web Designer (FPT Polytechnic)</p>
                                    <p>Tốt nghiệp loại giỏi chuyên ngành thiết kế Web của trường cao đẳng Fpt</p>
                                </div>
                            </li>
                            <li>
                                <div class="date">2020 - present</div>
                                <div class="info">
                                    <p class="semi-bold">Imformation Technology(Fpt University)</p>
                                    <p>Sinh viên đại học FPT</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="resume_item resume_hobby">
                        <div class="title">
                            <p class="bold">SỞ thích </p>
                        </div>
                        <ul>
                            <li><i class="fas fa-book"></i></li>
                            <li><i class="fas fa-gamepad"></i></li>
                            <li><i class="fas fa-music"></i></li>
                            <li><i class="fab fa-pagelines"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS Boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script> -->
    <!-- My script -->
    <script src="js/script.js "></script>
</body>

</html>