<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thực tập</title>
    <link rel="shortcut icon" href="view/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-dark">
    <div id="overlay-nav"></div>
    <!-- NỘI DUNG CHÍNH -->
    <main id="main">
        <div class="container">
            <div id="hssv" class="card border shadow mx-auto mb-3" style="min-height: 700px; max-width: 960px;">
                <div class="card-header  text-white bg-info" style="height: 230px;">
                    <div class=" media boder d-flex align-items-center p-3">
                        <div class=" .img-thumbnail overflow-hidden mr-3" style="width: 150px; ">
                            <img src="https://cdn.pose.com.vn/assets/2019/03/07/5301629225053921961409043040056750658027520n-1551924968498331276673.jpg" alt="John Doe">
                        </div>
                        <div class="col-10 ">
                            <h3>Ny cũ Trần Trọng Nghĩa</h3>
                            <h4>Web desingner</h4>
                            <hr>
                            <<<<<<< Updated upstream <div class="d-flex text-primary small">
                                <div class="mr-2">
                                    <p class="mb-1">Email </p>
                                    <p>Phone</p>
                                </div>
                                <div>
                                    <p class="mb-1">: bấdấndjkạndksj@gmial.com </p>
                                    <p>: 0324216516</p>
                                </div>
                                =======
                                <div class="row">
                                    <div class="col-4"><i class="fa fa-envelope" style="font-size:16px"></i> Nghiattps1305@fpt.edu.vn </div>
                                    <div class="col-4"><i class="fa fa-phone" aria-hidden="true"></i> 0944810751 </div>
                                    <div class="col-4"><i class="fas fa-user-alt" style="font-size:16px"></i> Nam</div>
                                    <div class="col-4"><i class="fa fa-calendar" style="font-size:16px"></i> 19/10/2001</div>
                                    <div class="col-4"><i class="fa fa-link" style="font-size:16px"></i> http://fb.com/trongnghia</div>
                                    <div class="col-4"><i class="fa fa-map-marker" style="font-size:16px"></i> Hồ Chí Minh city</div>
                                    >>>>>>> Stashed changes
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 fontp">
                    <div class="row">
                        <div class="col-12 fop">
                            <h5> MỤC TIÊU NGHỀ NGHIỆP</h5>
                            <p>Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở rộng tập
                                khách hàng.
                            </p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>HỌC VẤN</h5>
                            <h6>Chuyên ngành: <span class="text-info">Thiết kế web</span></h4>
                                <h6>Cao đẳng Fpt polytechnic</h6>
                                <p>10/2020-5/2024</p>
                                <p>Tốt nghiệp loại giỏi,điểm trung bình 8.0</p>
                                <hr>
                                <h5>KĨ NĂNG</h5>
                                <p>Tin học văn phòng</p>
                                <p>Chứng chỉ Toeic 580</p>
                                <hr>
                                <h5>HOẠT ĐỘNG</h5>
                                <h6 class="text-info">TÌNH NGUYỆN VIÊN</h6>
                                <p class="text-info"> Câu lạc bộ Bụi</p>
                                <p>
                                    Tập hợp các món quà và phân phát tới người vô gia cư. - Chia sẻ, động viên họ vượt qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.
                                </p>
                                <hr>
                                <h5>GIẢI THƯỞNG</h5>
                                <p class="text-info">Vô địch cuộc thi Code war 2019</p>
                                <p class="text-info">Giải ba cầu lông olympic</p>
                                <hr>
                                <h5>SỞ THÍCH</h5>
                                <p> - Học những công nghệ mới</p>
                                <p> - Chơi thể thao: đá bóng, cầu long, xếp hình </p>
                                <p> - Đọc sách</p>
                        </div>
                        <div class="col-6">
                            <h5>CHỨNG CHỈ</h5>
                            <h6 class="text-info">Bằng giỏi Fpt Polytechnic</h6>
                            <h6 class="text-info">Toeic 580</h6>
                            <p>2013</p>
                            <hr>
                            <h5>KINH NGHIỆM LÀM VIỆC</h5>
                            <p>- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...</p>
                            <p> - Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và emai</p>
                            <p>-Freelancer thiết kế banner quảng cáo</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button class="btn btn-danger ml-2" style="float:right">Đóng</button>
                            <button class="btn btn-info " style="float:right">Phê Duyệt</button>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS Boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <!-- My script -->
    <script src="js/script.js "></script>
</body>

</html>