<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thực tập</title>
    <link rel="shortcut icon" href="view/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-dark">
    <div id="overlay-nav"></div>
    <!-- NỘI DUNG CHÍNH -->
    <main id="main">
        <div class="container">
            <div id="hssv" class="card border shadow mx-auto mb-3" style="min-height: 700px; max-width: 960px;">
                <div class="card-header  text-white bg-inf" style="height: 230px;">
                    <div class=" media boder d-flex align-items-center p-3">
                        <div class=" .img-thumbnail overflow-hidden mr-3" style="width: 150px; ">
                            <img src="https://cdn.pose.com.vn/assets/2019/03/07/5301629225053921961409043040056750658027520n-1551924968498331276673.jpg" alt="John Doe">
                        </div>
                        <div class="col-10 ">
                            <h3>Ny cũ Trần Trọng Nghĩa</h3>
                            <h4>Web desingner</h4>
                            <div class="row bg-color"></div>

                            <div class="row">
                                <div class="col-4 mb-2 mt-4"><i class="fa fa-envelope" style="font-size:16px"></i> Nghiattps1305@fpt.edu.vn </div>
                                <div class="col-4 mb-2 mt-4"><i class="fa fa-phone" aria-hidden="true"></i> 0944810751 </div>
                                <div class="col-4 mb-2 mt-4"><i class="fas fa-user-alt" style="font-size:16px"></i> Nam</div>
                                <div class="col-4"><i class="fa fa-calendar" style="font-size:16px"></i> 19/10/2001</div>
                                <div class="col-4"><i class="fa fa-link" style="font-size:16px"></i> http://fb.com/trongnghia</div>
                                <div class="col-4"><i class="fa fa-map-marker" style="font-size:16px"></i> Hồ Chí Minh city</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body  fontp">
                    <div class="row ">
                        <div class="col-12 fop">
                            <div class="row">
                                <div class="bg">
                                    <h5><i class="fa fa-bullseye" style="font-size:24px"></i> MỤC TIÊU NGHỀ NGHIỆP</h5>
                                </div>
                            </div>
                            <div class="side"></div>
                            <div class="cont">
                                <p class="text-dar mt-2" style="font-size: 14pt;">Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở rộng
                                    tập khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <div class="tieude">
                                <h5><i class="fa fa-graduation-cap"></i> HỌC VẤN</h5>
                            </div>
                            <div class="noidung">
                                <h6>Chuyên ngành: <span class="text-info">Thiết kế web</span></h4>
                                    <h6>Cao đẳng Fpt polytechnic</h6>
                                    <p class="text-dar">10/2020-5/2024</p>
                                    <p class="text-dar">Tốt nghiệp loại giỏi,điểm trung bình 8.0</p>
                            </div>
                            <br>
                            <div class="tieude">
                                <h5><i class="fa fa-gear fa-spin"></i> KĨ NĂNG</h5>
                            </div>
                            <div class="noidung">
                                <p class="text-dar"> Tin học văn phòng</p>
                                <p class="text-dar">Chứng chỉ Toeic 580</p>
                            </div>
                            <br>
                            <div class="tieude">
                                <h5> <i class="fa fa-tasks"></i> HOẠT ĐỘNG</h5>
                            </div>
                            <div class="noidung">
                                <h6 class="text-info">TÌNH NGUYỆN VIÊN</h6>
                                <p class="text-info"> Câu lạc bộ Bụi</p>
                                <p class="text-dar">
                                    Tập hợp các món quà và phân phát tới người vô gia cư. - Chia sẻ, động viên họ vượt qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.
                                </p>
                            </div>
                            <br>
                            <div class="tieude">
                                <h5> <i class="	fas fa-award"></i> GIẢI THƯỞNG</h5>
                            </div>
                            <div class="noidung">
                                <ul>
                                    <li>
                                        <p class="text-info">Vô địch cuộc thi Code war 2019</p>
                                    </li>
                                    <li>
                                        <p class="text-info">Giải ba cầu lông olympic</p>
                                    </li>
                                </ul>
                                <br>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="tieude">
                                <h5><i class="fa fa-certificate"></i> CHỨNG CHỈ</h5>
                            </div>
                            <div class="noidung">
                                <h6 class="text-dar">Bằng giỏi Fpt Polytechnic</h6>
                                <h6 class="text-dar">Toeic 580</h6>
                                <p class="text-dar">2013</p>
                            </div>
                            <br>
                            <div class="tieude">
                                <h5> <i class="	fas fa-laptop-code"></i> KINH NGHIỆM VIỆC LÀM</h5>
                            </div>
                            <div class="noidung">
                                <p class="text-dar">- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...</p>
                                <p class="text-dar"> - Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và emai</p>
                                <p class="text-dar">-Freelancer thiết kế banner quảng cáo</p>
                            </div>
                            <br>
                            <div class="tieude">
                                <h5> <i class="	fas fa-basketball-ball"></i> SỞ THÍCH</h5>
                            </div>
                            <div class="noidung">
                                <ul>
                                    <li>
                                        <p class="text-dar"> Học những công nghệ mới</p>
                                    </li>
                                    <li>
                                        <p class="text-dar"> Chơi thể thao: đá bóng, cầu long, xếp hình </p>
                                    </li>
                                    <li>
                                        <p class="text-dar"> Đọc sách</p>
                                    </li>
                                </ul>



                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button class="btn btn-danger ml-2" style="float:right">Đóng</button>
                            <button class="btn btn-info " style="float:right">Phê Duyệt</button>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS Boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <!-- My script -->
    <script src="js/script.js "></script>
</body>

</html>