<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thực tập</title>
    <link rel="shortcut icon" href="view/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header id="header" class="fixed-top shadow-sm border-bottom bg-light">
        <div class="wrap d-flex justify-content-between align-items-center">
            <div id="header-menu" class="col p-0">
                <button id="sidebarToggle" class="btn btn-light border-right rounded-0 p-4">
                            <i class="fas fa-bars"></i>
                            <span class="d-none d-md-inline ml-3">MENU</span>
                    </button>
            </div>
            <a id="header-logo" href="#" class="col text-center">
                <img src="images/logo-2.png" alt="">
            </a>
            <div id="header-login" class="col p-0">
                <div class="d-none d-lg-flex justify-content-end h-100 ">
                    <a data-toggle="modal" href="#login" class="btn btn-light rounded-0  h-100 border-left  font-weight-500 p-4" role="button" aria-pressed="true">SINH VIÊN</a>
                    <a data-toggle="modal" href="#login" class="btn btn-primary  rounded-0  h-100 border-left   font-weight-500 p-4" role="button" aria-pressed="true">DOANH NGHIỆP</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Show box login -->
    <div class="modal fade" id="login">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="images/logo-2.png" class="w-25" alt="">
                    <button type="button" class="close p-3" data-dismiss="modal">x</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body row ">
                    <div class="d-none d-lg-inline col-6">
                        <img src="view/images/login.jpg" alt="">
                    </div>
                    <div class="col-lg-6 ">
                        <!-- <h3>Đăng Nhập</h3> -->
                        <form action="index.php?ctrl=home" class="my-5">
                            <div class="form-group">
                                <label for="">Tên đăng nhập</label>
                                <input type="text" name="user" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                <small id="helpId" class="text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="">Mật khẩu</label>
                                <input type="password" name="pass" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                <small id="helpId" class="text-muted"></small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                        </form>
                        <a href="" class="text-primary">Quên mật khẩu ?</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Show menu -->
    <nav id="nav-togger" class="border shadow-lg">
        <div class="list-group">
            <div class="d-flex d-lg-none  list-group-item list-group-item-action p-0 mb-3">
                <a data-toggle="modal" href="#login" class="btn btn-light rounded-0  h-100 border w-50  py-3" role="button" aria-pressed="true">SINH VIÊN</a>
                <a data-toggle="modal" href="#login" class="btn btn-primary  rounded-0  h-100 border w-50  py-3" role="button" aria-pressed="true">DOANH NGHIỆP</a>
            </div>
            <button type="button" class="list-group-item list-group-item-action rounded-0   py-3 active ">Trang chủ</button>
            <button type="button" class="list-group-item list-group-item-action rounded-0  py-3">Hỗ trợ</button>
            <button type="button" class="list-group-item list-group-item-action rounded-0  py-3">Liên lạc</button>
            <button type="button" class="list-group-item list-group-item-action rounded-0  py-3">Về chúng tôi</button>
            <button type="button" class="list-group-item list-group-item-action rounded-0  py-3">Hướng dẫn đăng bài</button>
            <button type="button" class="list-group-item list-group-item-action rounded-0  py-3">Hướng dẫn ứng tuyển</button>
        </div>
    </nav>
    <div id="overlay-nav"></div>
    <!-- NỘI DUNG CHÍNH -->
    <main id="main">
        <div class=" container mt-3">
            <div class="row">
                <div class=" col-sm-3 sv4 mt-3 mb-3 " >
                    <h5 class="mt-3" >HỒ SƠ CỦA BẠN</h5>
                    <div class="list-group mt-3 mb-3">
                        <div class="list-group-item ">
                            <i class="fa fa-user "></i>
                            <a href="#" class="ml-2">Quản lý thông tin</a>
                        </div>
                        <div class="list-group-item ">
                            <i class="fa fa-list-ul"></i>
                            <a href="#"class="ml-2">Danh sách đơn </a>
                        </div>
                    </div>
                    <h5>VIỆC LÀM CỦA BẠN</h5>
                    <div class="list-group mt-3 mb-3">
                        <div class="list-group-item ">
                            <i class="fa fa-bell"></i>
                            <a href="#"class="ml-2">Thông báo việc làm</a>
                        </div>
                        <div class="list-group-item ">
                            <span class="fa fa-star"></span>
                            <a href="#"class="ml-2">Việc làm đã lưu</a>
                        </div>
                        <div class="list-group-item ">
                            <i class="fa fa-list-ul"></i>
                            <a href="#"class="ml-2">Việc làm ứng tuyển</a>
                        </div>

                    </div>
                    <h5>HỖ TRỢ VÀ THÔNG BÁO</h5>
                    <div class="list-group mb-3">
                        <div class="list-group-item ">
                            <i class="fa fa-bell"></i>
                            <a href="#"class="ml-2">hướng dẫn thao tác</a>
                        </div>
                    </div>

                </div>

                <div class=" col-sm-9 mt-3 mb-3">


                    <div class="container">
                        <div class="media boder p-3 ttdau bg-primary">
                            
                            <a href="#"><img  src="images/avt1.jpg" alt="John Doe" class="mr-3 mt-3 ml-3 rounded-circle"  >
                               
                            </a>
                          
                          <div class="thongtin1">
                            <div class=" media-body ml-4"><br>
                                <h4>Monkey D.Garp </h4>
                                <p style="width: 100%; "> Thực tập sinh.</p> 
                                <hr class="mr-4" style="background: white;width: 98% ;float: left;">     
                                <i class="fa fa-phone" style="font-size: 12pt; transform: scaleX(-1); margin-right: 15px;"></i>
                                <a href="#">
                                    0123456789 </a> <a href="#"> <i  class="fa fa-pencil ml-2"></i>
                                </a><br>
                                <i class="fa fa-home mt-3" style="font-size: 12pt;margin-right: 10px"></i> 
                                <a href="#">
                                    //Bé Lê Văn Đạt, Quận Cam, Sài Gòn. </a> <a href="#"> <i  class="fa fa-pencil ml-2"></i>
                                </a>
                                </div>
                          </div>
                        </div>
                            
                        
                        <h5 class="mt-4 "style="border-left: 5px rgb(243, 117, 13) solid;padding: 0 5px;">THÔNG TIN TÀI KHOẢN</h5>
                            <div class="media boder p-3 sv8-12 mt-3">
                                <div class="row ttcn">
                                    <div class="tt-left ml-4">
                                        <p><strong>Tên tài khoản</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: Garp1900 </p>
                                    </div>
                                    <div class="tt-left ml-4">
                                        <p><strong>Mật khẩu</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: Garp1900 </p>
                                    </div>
                                    <div class="tt-left ml-4">
                                        <p><strong>Email</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: Garp1900@gmail.com </p>
                                    </div>
                                        <a class=" btn btn-white-36 ml-4" href="#">
                                        <i style="color: black;" class="fa fa-pencil"></i>
                                        <span class=" text-gray-75 font400 ml-2"> Chỉnh sửa</span></a>
                                </div>
                                
                            </div>
                            <h5 class="mt-4 "style="border-left: 5px rgb(243, 117, 13) solid;padding: 0 5px;">THÔNG TIN CÁ NHÂN</h5>
                            <div class="media boder p-3 sv8-12 mt3">
                                <div class="row ttcn">
                                    <div class="tt-left ml-4">
                                        <p><strong>Họ và tên</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: Monkey D.Garp </p>
                                    </div>
                                    <div class="tt-left ml-4">
                                        <p><strong>Giới tính</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: Nam </p>
                                    </div>
                                    <div class="tt-left ml-4">
                                        <p><strong>Ngày sinh</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: 01/01/2000 </p>
                                    </div>
                                    <div class="tt-left ml-4">
                                        <p><strong>Quốc tịch</strong> </p>           
                                    </div>
                                    <div class="tt-rigth">
                                        <p>: Việt Nam</p>
                                    </div>

                                    <a class=" btn btn-white-36 ml-4" href="#">
                                        <i style="color: black;" class="fa fa-pencil"></i>
                                        <span class=" text-gray-75 font400 ml-2"> Chỉnh sửa</span>
                                    </a>

                                </div>
                           </div>
                                
                    </div>
                </div>

            </div>

        </div>
            
    </div>
        
    </main>
    <footer id="footer " class="wrap bg-dark text-light py-3 ">
        <div class="container ">
            <div class="col-3 p-0 ">
                <img src="images/logo-2.png " alt=" ">
            </div>
            <h3>Phòng Quan Hệ Doanh Nghiệp</h3>
            <div class="row my-5 ">
                <div class="col-lg-6 mb-3 ">
                    <h5 class="pb-3 ">Thông tin trường FPT Polytechnic</h5>
                    <div class="row text-gray ">
                        <div class="col-lg-5 small ">
                            <p class="font-weight-bold my-1 "><i class="fas fa-location-circle mr-1 "></i> Cơ sở Hà Nội</p>
                            <p class="m-0 ">Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</p>
                            <p><i class="fas fa-phone-alt "></i> <u>(024) 7300 1955</u></p>
                        </div>
                        <div class="col-lg-5 mb-3 small ">
                            <p class="font-weight-bold my-1 "><i class="fas fa-location-circle mr-1 "></i> Cơ sở Hồ Chí Minh</p>
                            <p class="m-0 ">778/B1 Nguyễn Kiệm, P.4, Q. Phú Nhuận, TP. Hồ Chí Minh</p>
                            <p><i class="fas fa-phone-alt "></i> <u> (028) 62523434</u></p>
                        </div>
                        <div class="col-lg-5 mb-3 small ">
                            <p class="font-weight-bold my-1 "><i class="fas fa-location-circle mr-1 "></i> Cơ sở Đà Nẵng</p>
                            <p class="m-0 ">Số 137 Nguyễn Thị Thập, Phường Hòa Minh, Quận Liên Chiểu, TP. Đà Nẵng</p>
                            <p><i class="fas fa-phone-alt "></i> <u>(0236) 3710 999</u></p>
                        </div>
                        <div class="col-lg-5 small ">
                            <p class="font-weight-bold my-1 "><i class="fas fa-location-circle mr-1 "></i> Cơ sở Cần Thơ</p>
                            <p class="m-0 ">Số 288, Nguyễn Văn Linh, phường An Khánh, quận Ninh Kiều, Tp. Cần Thơ</p>
                            <p><i class="fas fa-phone-alt "></i> <u>(0292) 7300 468</u></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3 ">
                    <h5 class="pb-3 ">Dành cho doanh nghiệp</h5>
                    <div class="nav flex-column ">
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 1 </a>
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 2</a>
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 3</a>
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 4</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3 ">
                    <h5 class="pb-3 ">Dành cho sinh viên</h5>
                    <div class="nav flex-column ">
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 1</a>
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 2</a>
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 3</a>
                        <a class="nav-item nav-link px-0 " href="# ">Thông tin 4</a>
                    </div>
                </div>
            </div>
            <div class="row text-light text-center ">
                <p class="col mt-5 ">Copyright <i class="fa fa-copyright mx-2 " aria-hidden="true "></i> 2020 Bản quyền thuộc về <b>Group 6</b></p>
            </div>
        </div>
    </footer>
    <!-- JS Boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <!-- My script -->
    <script src="js/script.js "></script>
</body>

</html>