<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section class="section-login">
        <div class="section-login-create flex-betw">
            <h2>LOGIN</h2>
            <?php
                if(isset($err) && ($err!="")){
                    echo ('
                        <h3>'.$err.'</h3>
                    ');
                }
            ?>
                <form action="?ctrl=login" method="post">

                    <div class="login flex-betw">
                        <div class="login-sec flex-betw">
                            <label for="user">Tên đăng nhập</label>
                            <input type="text" name="user" id="user" required>
                        </div>
                        <div class="login-sec flex-betw">
                            <label for="pass">Mật khẩu</label>
                            <input type="password" name="pass" id="pass" required>
                        </div>
                        <input type="submit" value="LOGIN" name="login">
                    </div>
                </form>
                <a href="index.php">Home - Register</a>
        </div>
    </section>
</body>

</html>