#header {
    max-height: 80px;
}

body {
    padding-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.container {
    max-width: 1366px;
}

.container_left {
    margin-left: 20% !important;
    transition: 3s;
}

.wrap {
    max-width: 1920px;
}

img {
    width: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.text-tomato {
    color: tomato;
}

.text-gray {
    color: gray !important;
}

.btn-primary {
    background-color: dodgerblue !important;
}

#login {
    margin-top: 10vh;
}

#banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.banner-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/banner.jpg.png');
    background-position: center;
    background-size: cover;
}

.banner-title {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.banner-title p {
    font-size: 3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 3px lightgray;
}

.banner-title a {
    font-size: 1.3em;
    background-color: dodgerblue;
    box-shadow: 0 0 1px gray;
    color: white;
}

.banner-title a:hover {
    background-color: dodgerblue;
}

.banner-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
}

#header-logo img {
    height: 60px;
    width: auto;
}


/* nav */

#nav-togger {
    position: fixed;
    width: 320px;
    top: 75px;
    left: -320px;
    bottom: 0;
    background-color: white;
    z-index: 2;
    transition: 0.3s;
}

.nav-togger_left {
    left: 0 !important;
    transition: 0.3s;
}

#nav-togger button {
    font-size: 0.8em;
    font-weight: 500;
}

#nav-togger button:hover {
    padding: 30px;
    transition: 0.6s;
}

#overlay-nav {
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    display: none;
}


/* main */

#main {
    min-height: 500px;
}

.home-line {
    width: 5px;
    height: 5vh;
    margin: 30px auto;
    background-color: black;
}

.home-note {
    margin-bottom: 70px;
}

.home-list-job {
    margin: 50px 0;
}

#home .tab {
    margin-top: 30px;
}

#home .tab .nav-tabs {
    border: none;
    border-bottom: 1px solid #e4e4e4;
}

#home .nav-tabs li a {
    padding: 10px 10px;
    border: 1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 5px 10px 0px 0;
    margin-right: 0px;
    font-weight: 500;
    transition: all 0.1s ease 0s;
    font-size: 0.9em;
}

#home .nav-tabs li a:hover {
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: tomato;
    color: #fff;
}

#home .nav-tabs li a.active,
#home .nav-tabs li a.active:focus,
#home .nav-tabs li a.active:hover {
    border-top: 3px solid dodgerblue;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    margin-top: -10px;
    color: #444;
    padding: 15px 20px;
    background: white;
}

.card-body p {
    margin-bottom: 5px;
}


/*---- danh sách việc làm---- */

#list-job {
    margin-top: 10px;
    margin-bottom: 50px;
}

#list-job ::-webkit-scrollbar {
    width: 5px;
}

#list-job ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

#list-job .detail-job_list {
    min-height: 150px;
    max-height: 800px;
    overflow-y: auto;
}

#list-job .detail-job_inf {
    min-height: 150px;
    max-height: 850px;
    overflow-y: auto;
    overflow-x: hidden;
}

.media-body h5 {
    font-size: 1.1em;
}

.media-body p {
    font-size: 0.9em;
    margin-bottom: 3px;
}


/* ----------- sv1 ------------ */

.thongtin1 {
    float: left;
    width: 80%;
    margin: 0 auto;
}

.thongtin1 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.thongtin1 a:hover {
    color: red;
}

.sv1 {
    border: 1px black solid;
}


/* Baokun */


/* Doanh Nghiep - Hoang */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li,
a {
    text-decoration: none;
    list-style-type: none;
}

.h-boxbig {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px 25px;
    overflow: hidden;
}

.h-boxleft {
    width: 32%;
    height: 570px;
    margin-right: 3%;
    float: left;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 25px;
}

.h-boxright {
    width: 65%;
    height: 570px;
    float: left;
    background-color: teal;
    padding: 30px;
    border-radius: 25px;
}

.h-avatar {
    width: 50%;
    height: 180px;
    background-color: yellow;
    margin: 0px auto;
    border: 2px solid #ccc;
}

.h-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-a1 {
    height: 300px;
    padding: 5px;
    border: 1px solid #9c9c9c;
    border-radius: 25px;
}

.h-a1 li {
    margin: 15px;
}

.h-a1 a {
    color: #fff;
    font-size: 13pt;
    font-weight: 600;
}

.h-a1 a:hover {
    color: #D03737;
}

.h-big-title {
    width: 100%;
    color: #fff;
}

.h-title {
    width: 70%;
    float: left;
}

.h-sort {
    width: 30%;
    float: left;
    text-align: right;
}

.h-big-box {
    background: #fff;
    border-radius: 10px;
    height: 100%;
}


/*--- dnnew.html ---*/

.h-tieude {
    margin-bottom: 0;
}

.h-the-a1 li {
    font-size: 13pt;
    font-weight: 600;
    margin: 15px 0;
}

.h-the-a1 a:hover,
a:focus {
    color: #D03737;
}


/*----- End Doanh Nghiep -----*/


/* ----------- footer ------------ */

.text-gray,
footer a {
    color: lightgray;
}

footer a:hover {
    color: white;
}


/* Responsive  */

@media (max-width: 768px) {
    #banner {
        font-size: 0.9rem;
        height: 500px;
    }
}